In [ ]:
Function 'authenticate_kaggle' executed in 0.0040 seconds
2025-02-10 23:52 - INFO - Downloading dataset...
Dataset URL: 
2025-02-10 23:52 - INFO - Dataset downloaded successfully!
Function 'download_data' executed in 2.5556 seconds
2025-02-10 23:52 - INFO - Extracting CSV file...
2025-02-10 23:52 - INFO - CSV file extracted successfully!
Function 'extract_csv' executed in 0.0345 seconds
2025-02-10 23:52 - INFO - Previewing data

In [ ]:
2025-02-10 23:52 - INFO -
   Customer ID  Age Gender Loyalty Member Product Type      SKU  ...  Unit Price Quantity Purchase Date  Shipping Type              Add-ons Purchased  Add-on Total
0         1000   53   Male             No   Smartphone  SKU1004  ...      791.19        7    2024-03-20       Standard  Accessory,Accessory,Accessory         40.21
1         1000   53   Male             No       Tablet  SKU1002  ...      247.03        3    2024-04-20      Overnight                   Impulse Item         26.09
2         1002   41   Male             No       Laptop  SKU1005  ...      463.96        4    2023-10-17        Express                           <NA>          0.00
3         1002   41   Male            Yes   Smartphone  SKU1004  ...      791.19        4    2024-08-09      Overnight      Impulse Item,Impulse Item         60.16
4         1003   75   Male            Yes   Smartphone  SKU1001  ...       20.75        2    2024-05-21        Express                      Accessory         35.56

In [ ]:
[5 rows x 16 columns]
2025-02-10 23:52 - INFO - Data information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999

In [ ]:
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        20000 non-null  int64
 1   Age                20000 non-null  int64
 2   Gender             19999 non-null  string
 3   Loyalty Member     20000 non-null  string
 4   Product Type       20000 non-null  string
 5   SKU                20000 non-null  string
 6   Rating             20000 non-null  int64
 7   Order Status       20000 non-null  string
 8   Payment Method     20000 non-null  string
 9   Total Price        20000 non-null  float64
 10  Unit Price         20000 non-null  float64
 11  Quantity           20000 non-null  int64
 12  Purchase Date      20000 non-null  string
 13  Shipping Type      20000 non-null  string
 14  Add-ons Purchased  15132 non-null  string
 15  Add-on Total       20000 non-null  float64
dtypes: float64(3), int64(4), string(9)
memory usage: 3.9 MB

In [ ]:
2025-02-10 23:52 - INFO - Data description
        Customer ID           Age        Rating   Total Price    Unit Price      Quantity  Add-on Total
count  20000.000000  20000.000000  20000.000000  20000.000000  20000.000000  20000.000000  20000.000000
mean   10483.526550     48.994100      3.093950   3180.133419    578.631867      5.485550     62.244848
std     5631.732525     18.038745      1.223764   2544.978675    312.274076      2.870854     58.058431
min     1000.000000     18.000000      1.000000     20.750000     20.750000      1.000000      0.000000
25%     5478.000000     33.000000      2.000000   1139.680000    361.180000      3.000000      7.615000
50%    10499.500000     49.000000      3.000000   2534.490000    463.960000      5.000000     51.700000
75%    15504.000000     65.000000      4.000000   4639.600000    791.190000      8.000000     93.842500
max    19998.000000     80.000000      5.000000  11396.800000   1139.680000     10.000000    292.770000

In [ ]:
2025-02-10 23:52 - INFO - Checking for missing data...
2025-02-10 23:52 - INFO - Missing data found
2025-02-10 23:52 - INFO - Saving missing_data to CSV file
2025-02-10 23:52 - INFO - Data saved successfully!